.container-products {
  margin: 0;
  position: relative;
  top: 5rem;
  padding: 2rem;
  background-color: #ffffff;

}

.container-products .heading h5 {
  margin: 2rem auto;
  margin-bottom: 0;
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 34px;
  cursor: pointer;
  text-align: center;
}
.container-products .heading h2 {
  margin: 0;
  color: #2d465e;
  font-size: 34px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 1em;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5rem;
}

.container-products .heading:hover h2 {
  color: var(--accent-color);
}
.container-products .card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.card-container .card {
background: var(--surface-color);
opacity: 1;
overflow: hidden;
height: 100%;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

}
.card-container .card:hover{
  opacity: 0.9 ;
}

.card-container .card .card-img-top{
  height: 50vh;
  width: 100%;
  transition: all ease 1s;
}
.card-container .card .card-img-top:hover{
  scale: 1.1;
}
.card-container .card-body h2{
  margin: 0.8rem;
  color: #2d465e;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 1em;
  cursor: pointer;
  text-align: center;
}
.card-container .card-body:hover h2{
  color: var(--accent-color);
}

.card-container .card-body p{
  margin: 0rem auto;
  font-family: var(--thm-font);
  color: #212529;
  font-size: 16px;
  line-height: 28px;
  max-width: 800px;
  text-align: center;
  margin-bottom: 0.8rem;
}
