@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.testimonials {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 100px 0;
}

.testimonials .info {
  width: 100%;
  text-align: center;
}

.testimonials .info h5 {
  margin: 0;
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 34px;
}

.testimonials .info h2 {
  margin: 0;
  color: #2d465e;
  font-size: 34px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 1em;
}

.testimonials .info h2:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.testimonials .info p {
  margin: 2.8rem auto;
  font-family: var(--thm-font);
  color: #212529;
  font-size: 16px;
  line-height: 32px;
  width: 35rem;
}

.testimonials .user-info {
  width: 62%;
  margin: 0 auto;
  box-shadow: 3px 18px 32px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--surface-color);
  transition: all ease 1s;
}

.testimonials .user-info:hover {
  background-color: var(--surface-color);
  /* box-shadow: 2px 10px 30px 0 rgba(26, 157, 19, 0.1) ; */
  transform: scale(1.1);
}

.testimonials .testimonial-slider .testimonial-item {
  box-sizing: content-box;
  min-height: 200px;
  position: relative;
  padding: 15px;
  text-align: center;
}

.testimonials .testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid var(--background-color);
  margin-right: 10px;
  object-fit: cover;
}
.testimonial-img:hover {
  opacity: 0.3;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 14px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.testimonials .testimonial-item .stars {
  /* margin: 10px 0; */
  color: #ffc107;
  margin: 4px 0px;
  font-size: 14px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto;
}

/* Custom styles for Slick dots */
.slick-dots {
  /* bottom: 8rem;  */
  margin: 0 1px;
}

.slick-dots li .slick-dot-custom {
  font-size: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 85%);
  transition: color 0.3s ease;
  margin: 0px;
}

.slick-dots .slick-active .slick-dot-custom {
  color: var(--accent-color);
}

/* Custom styles for navigation arrows */
.slick-arrow-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.slick-arrow-custom:hover {
  background-color: var(--accent-color);
}

.testimonials .slick-prev {
  left: 10px;
  z-index: 10;
}

.testimonials .slick-next {
  right: 10px;
  z-index: 10;
}
